section#pageHeader
  .content
    a#brand(href="/")
      img(src="/images/web-logo2.png", alt="WECS")
      h1 Women in Engineering and Computer Science
    nav
      ul#buttons
        li.about
          a(href="about.html") About Us
        li.projects
          a(href="projects.html") Projects
        li.events
          a(href="events.html") Events
        li.getinvolved
          a(href="getinvolved.html") Get Involved
        li.contact
          a(href="contact.html") Contact Us