
extends layout

block scripts
  script(src='javascripts/about.js')

block content

  section#about

    article.mission
      h1.contentHeader Women in Engineering and Computer Science
      p.
        We are the Women in Engineering and Computer
        Science group at the University of Victoria.  Our members are committed to supporting women in Engineering
        and Computer Science programs. We hold events that inspire, educate, and encourage a strong sense of community within the faculty.

    
    ul.profiles
      li.profile.lauraG
        img(src='images/lauraG.jpg')
        .blurb
          .name  Laura Grondahl
          .position President
          p
            | Laura is an undergraduate student in Physics and Computer Science at UVic. Through the co-op program Laura has been a software developer for 
            a(href='http://www.isolationnetwork.com/', target='_blank')
              b  Isolation Network Inc.
            | , and a programmer for 
            a(href='http://www.forteconsulting.ca/', target='_blank')
              b  Forte Consulting Ltd. 
            | Laura was also an instructor for UVic’s
            a(href='http://www.scienceventure.ca/', target='_blank')
              b  Science Venture
            |.
      li.profile.aldyn
        img(src='images/icon.jpg')
        .blurb
          .name Aldyn Chwelos
          .position Vice President
      li.profile.veronika
        img(src='images/veronika.jpg')
        .blurb
          .name Veronika Irvine
          .position Speaker Series Coordinator
          p
            | Veronika is currently pursuing a Ph.D. in Computer Science in the area of Computational Combinatorics.  Between completing her Master's degree and starting a Ph.D., Veronika worked in high tech for 17 years as a computer programmer, starting out in telecommunications at 
            a(href='http://www.nortel.com/', target='_blank')
              b  Nortel 
            | and later moving into the field of open source software platforms at 
            a(href='http://www.ibm.com/ca/en/', target='_blank')
              b  IBM
            |.   She has been a lacemaker since the age of 10 and in her current research she applies ideas from Computer Theory to explore and expand the techniques used in making lace, bringing new ideas, interesting problems and solutions to each field.  Veronika is also very interested in using art as a way to explore ideas in math and to develop math skills.  She has used this approach in her outreach work at 
            a(href='https://www.csc.uvic.ca/Outreach/sparcs.htm', target='_blank')
              b  SPARCS
            |.  You can read more about her  
            a(href='http://web.uvic.ca/~vmi/', target='_blank')
              b  here
      li.profile.palak
        img(src='images/icon.jpg')
        .blurb
          .name Palak Verma
          .position Speaker Series Coordinator
      li.profile.tania
        img(src='images/icon.jpg')
        .blurb
          .name Tania Akter
          .position Outreach Coordinator
      li.profile.bernice
        img(src='images/icon.jpg')
        .blurb
          .name Bernice Brown
          .position CSC Revealed Clinics Coordinator
      li.profile.paul
        img(src='images/icon.jpg')
        .blurb
          .name Paul Hunter
          .position CSC Revealed Clinics Coordinator
      li.profile.tylynn
        img(src='images/tylynn.jpg')
        .blurb
          .name Tylynn Haddow
          .position Marketing Team Member
          p
            | Tylynn Haddow is a first year engineering student planning to pursue a degree in electrical engineering. She is excited to be a member of Women in Engineering and Computer Science and looks forward to organizing future networking events and volunteering with the Girl Guide Outreach this term.
      li.profile.emma
        img(src='images/icon.jpg')
        .blurb
          .name Emma Horgan
          .position Marketing Team Member
      li.profile.saige
        img(src='images/saige.jpg')
        .blurb
          .name Saige Liu
          .position Marketing Team Member
          p
            | Saige is an undergraduate international student in Computer Science at Uvic. She is a second year student and designed some websites before and is familiar with photoshop, willing to get a job in the field of graphic and gaming strategy or visual arts with computer science one day.
      li.profile.maria
        img(src='images/maria.jpg')
        .blurb
          .name Maria Bances
          .position Marketing Team Member
          p
            | Maria Isabel is studying Computer Science and specializes in web development. She has done an internship at  
            a(href='http://redbrickmedia.com/', target='_blank')
              b  Red Brick 
            | and currently works as a contractor for Alpha Sales.
      li.profile.laurel
        img(src='images/laurel.jpg')
        .blurb
          .name Laurel Krienke
          .position Tea and Cookies Host
          p
            | Laurel is a 2nd year computer science student planning to minor in psychology. She is currently pursuing her interests in independent game development to supplement her studies. 

      h1 Alumni
      li.profile.petra
        img(src='images/petra.png')
        .blurb
          .name  Petra Clementson
          .position Alumni: President/Co-founder
          p
            | Petra started WECS with Naomi in September 2012. She completed her Bachelor's Degree in Computer Science at UVic and is now a Software Engineer at
            a(href='http://www.tableausoftware.com/', target='_blank')
              b  Tableau Software
            |. She has worked 2 internships through the co-op program at the 
            a(href='http://www.gemini.edu/', target='_blank')
              b  Gemini Observatory 
            | and another internship at 
            a(href='https://bandcamp.com/', target='_blank')
              b  Bandcamp
            |. You can reach her at
            b  petraclementson AT gmail DOT com
            |  and view her
            a(href='https://github.com/petrac/CV', target='_blank')
              b  CV on github.
      li.profile.naomi
        img(src='images/naomi.jpg')
        .blurb
          .name  Naomi Harrington
          .position Alumni: Co-founder
          p
            | Naomi Co-founded WECS with Petra and graduated with honours in Computer Science with a minor in Psycology while also completing the work experience requirement. She has also made a significant contribution to research in accessibility doing work with Dr. Yvonne Coady. Naomi currently resides at Microsoft as a Project Manager.
      li.profile.laura
        img(src='images/laura.jpg')
        .blurb
          .name  Laura MacLeod
          .position Alumni: Vice President
          p
            | Laura has recently completed her graduate studies in Computer Science at UVic. In a past life Laura sat on UVic's Senate and UVSS board. While at UVic Laura did research at 
            a(href='http://thechiselgroup.org/', target='_blank') 
              b  CHISEL Labs 
            | under Professor Storey and Professor Coady, focusing on program comprehension. You can reach her at
            b  lmacleod AT uvic DOT ca.
      li.profile.elena
        img(src='images/elena.jpg')
        .blurb
          .name Elena Voyloshnikova
          .position Alumni: Marketing Director
          p
            | Elena has a BSc with distinction in Computer Science, and now she is doing graduate studies at the University of Victoria. She worked at IBM Centres for Advanced Studies on goal-oriented technologies and currently continues her research at The 
            a(href='http://thechiselgroup.org/', target='_blank')
              b  CHISEL Group
            |. You can reach her at 
            b  elenavoy AT uvic DOT ca
            |.
      li.profile.naz
        img(src='images/naz.jpg')
        .blurb
          .name  Nazma Panjwani
          .position Alumni: Technical Director
          p
            | Nazma has a BSC in Biology. She recently finished her second BSC in Computer Science. She has done coops at companies such as 
            a(href='http://www.ibm.com/ca/en/', target='_blank')
              b  IBM 
            | and 
            a(href='http://www.isolationnetwork.com/', target='_blank')
              b  INgrooves
            |. 
      li.profile.marcelle
        img(src='images/icon.jpg')
        .blurb
          .name Marcelle Wheeler
          .position Alumni: Tea and Cookies Host
          
      