extends layout

block content

  #contact
    h1.contentHeader Contact Us

    p.
      If you have any questions or comments, you can contact WECS by emailing us at: wecs@csc.uvic.ca

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script.

    $("#buttons .contact").addClass('active')