extends layout

block content

  nav.sub-menu
    ul
      li.header Archives
      li
        a(href='#Spring2013') Spring 2013
      li
        a(href='#Fall2012') Fall 2012
  .Events
    h1.contentHeader Current Events
    
    img.centered(src='images/ChocolateParty.png', width='600px')
    
    
    img.centered(src='images/ExecInTechField.jpg', width='600px')
    

    img.centered(src='images/Oct10_George_2013_1.png', width='600px')


    img.centered(src='images/CSCRevealedFall2013_2.jpg', width='600px')


    img.centered(src='images/wecs3D.jpg', width='600px')


    img.centered(src='images/CSCRevealedFall2013_1.jpg', width='600px')



    h1#Spring2013.contentHeader Spring 2013

    img.centered(src='images/0330_potluck.jpg', width='600px')


    img.centered(src='images/0322_GraceWongSneddon.jpg', width='600px')


    img.centered(src='images/0208_MaiaHoeberechts.png', width='600px')


    img.centered(src='images/0125_AnnaStukas.jpg', width='600px')



    h1#Fall2012.contentHeader Fall 2012

    img.centered(src='images/WECSposter1123.jpg', width='600px')


    img.centered(src='images/year1foodevent2012.png', width='600px')


    img.centered(src='images/poster1026_2012.png', width='600px')


    img.centered(src='images/poster1012_2012.png', width='700px')


    img.centered(src='images/poster0928_2012.png', width='700px')


    img.centered(src='images/poster0905_2012.png', width='700px')

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script.

    $("#buttons .events").addClass('active')

