extends layout

block scripts
    link(rel='stylesheet', href='stylesheets/events.css')
    script(src='javascripts/events.js')

block content

  div#_overlay
    img(src='')

  nav.sub-menu
    ul
      li.header Archives
      li
        a(href='#Fall2013') Fall 2013
      li
        a(href='#Spring2013') Spring 2013
      li
        a(href='#Fall2012') Fall 2012
  .Events
    h1#Fall2013.contentHeader Fall 2013
    
    ul.thumbs
      li
        img(src='images/thumbnails/ChocolateParty.png')
      li
        img(src='images/thumbnails/ExecInTechField.jpg')
      li
        img(src='images/thumbnails/Oct10_George_2013_1.png')
      li
        img(src='images/thumbnails/CSCRevealedFall2013_2.jpg')
      li
        img(src='images/thumbnails/wecs3D.jpg')
      li
        img(src='images/thumbnails/CSCRevealedFall2013_1.jpg')


    h1#Spring2013.contentHeader Spring 2013
    ul.thumbs
      li
        img(src='images/thumbnails/0330_potluck.jpg')
      li
        img(src='images/thumbnails/0322_GraceWongSneddon.jpg')
      li
        img(src='images/thumbnails/0208_MaiaHoeberechts.png')
      li
        img(src='images/thumbnails/0125_AnnaStukas.jpg')

    h1#Fall2012.contentHeader Fall 2012

    ul.thumbs
      li
        img(src='images/thumbnails/WECSposter1123.jpg')
      li
        img(src='images/thumbnails/year1foodevent2012.png')
      li
        img(src='images/thumbnails/poster1026_2012.png')
      li
        img(src='images/thumbnails/poster1012_2012.png')
      li
        img(src='images/thumbnails/poster0928_2012.png')
      li
        img(src='images/thumbnails/poster0905_2012.png')
        
