extends layout

block content
  #get-involved
    h1.contentHeader Get Involved

    p.DoInfo
      | If you are interested in volunteering&comma; teaching or talking to professionals in your field&comma; contact us at wecs&commat;csc&period;uvic&period;ca to join our mailing list and receive great oppotunities instantly&excl;

    h1 Volunteer Positions

    p.DoInfo
      | Do you want to share your love for programming with others&quest; Come volunteer at the
      a(href='http://wecs.csc.uvic.ca/Projects.html#Programming') CSC Revealed Clinics
      | to help teach first year programming students the joys of problem solving&period; Check our front page for the next clinic or email wecs&commat;csc&period;uvic&period;ca&excl;

  script.

    $("#buttons .getinvolved").addClass('active')