extends layout

block content
  section#home

    section#main
      aside#mission-statement
        p.statement
          "Our goal is to encourage and support gender diversity in Engineering, Computer Science, and other technical fields."
        p.
          - WECS Members
      iframe.calendar(src="https://www.google.com/calendar/embed?src=h74vjhtr89845e176idjdc4t88%40group.calendar.google.com&ctz=America/Vancouver" frameborder="0" scrolling="no")

    section#announcements
      ul.feed(title="Announcements")
        li.feed-item
          | Welcome! Join our mailing list to hear about scholarships, volunteer opportunities and all the fun stuff we do, email
          b  wecs@csc.uvic.ca
        li.feed-item
          b Weekend programming competitions: <br><br>
          b 
            a(href="https://www.canadianopendataexperience.com/") CODE Hackathon <br>
          | February 28 to March 2. <br>
          | Grand prizes up to $30,000. Meet and pitch ideas to tech-focused venture capitalists. Hosted by 
          a(href="http://www.xmg.com/about/") XMG Studio Inc.
          | Sign up at canadianopendataexperience.com <br><br>
        li.feed-item
          | Learn how to make your own games with the Code Liberation Foundation for free at
          a(href="codeliberation.org")  codeliberation.org!
        li.feed-item
          | Checkout a great show done by Women on Air at the CFUV on campus radio station about women in STEM. One of our own was interviewed in
          a(href="https://soundcloud.com/cfuv/women-on-air-women-in-1?in=cfuv/sets/women-on-air")  part 2
          |  of the show as well!
