extends layout

block content
  section#home

    section#main
      aside#mission-statement
        p.statement
          "Our goal is to encourage and support gender diversity in Engineering, Computer Science, and other technical fields."
        p.
          - WECS Members
      iframe.calendar(src="https://www.google.com/calendar/embed?src=h74vjhtr89845e176idjdc4t88%40group.calendar.google.com&ctz=America/Vancouver" frameborder="0" scrolling="no")

    section#announcements
      ul.feed(title="Announcements")
        li.feed-item
          | Welcome! Join our mailing list to hear about scholarships, volunteer opportunities and all the fun stuff we do, email
          b  wecs@csc.uvic.ca
        li.feed-item
          b Weekend programming competitions: <br><br>
          b 
            a(href="https://www.abebooks.com/books/hackathon/") AbeBooks Hackathon <br>
          | Friday, Jan 31st to the following day. <br>
          | Happening at UVic with free food, T-shirts, and two Kindles being given away as door prizes! <br><br>
          b
            a(href="https://www.cs.sfu.ca/SeminarsAndEvents/ACM/") SFU Winter Programming Competition
          | <br>
          | Saturday Feb 1st 1:00 to 4:00 PM. <br>
          | ACM ICPC style competition. <br>
          | ECS 360. In teams of two. Email uvic.programming.club@gmail.com for details.<br><br>
          b
            a(href="https://www.windward.net/code-war/") Windward Code Wars <br>
          | Saturday Feb 1st 10:00 AM to 6:00 PM. <br>
          | Teams of up to five members. Contact uvic.programming.club@gmail.com for more details.
        li.feed-item
          | The next CSC Revealed Clinic will focus on tough topics from the midterm and will be held
          b  Friday January 31st.
        li.feed-item
          | Learn how to make your own games with the Code Liberation Foundation for free at
          a(href="codeliberation.org")  codeliberation.org!
        li.feed-item
          | Checkout a great show done by Women on Air at the CFUV on campus radio station about women in STEM. One of our own was interviewed in
          a(href="https://soundcloud.com/cfuv/women-on-air-women-in-1?in=cfuv/sets/women-on-air")  part 2
          |  of the show as well!
