doctype 5
html
  head
    title WECS
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='stylesheets/grid.min.css')
    script(src="javascripts/app.js")
    
    block scripts

    meta(charset="UTF-8")
  body
    include _nav
    section#content
        block content
