#home > section {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px; }
#home #main {
  width: 60%; }
  #home #main #mission-statement {
    background-color: white;
    box-shadow: 10px 10px 6px #aaaaaa;
    font-style: italic;
    width: 90%;
    padding: 20px;
    word-spacing: 2px;
    font-size: 24px;
    box-sizing: border-box; }
    #home #main #mission-statement p.statement {
      line-height: 40px;
      font-weight: 200; }
    #home #main #mission-statement p:nth-child(2) {
      text-align: right; }
  #home #main img {
    margin-top: 50px; }
#home #announcements {
  box-sizing: border-box;
  width: 38%;
  padding-left: 2%; }
